<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Circuito de Torneos de Ajedrez Escolar</h1>
            <hr>
            <p>Esto es una página de prueba de la web de Circuito de Torneos de Ajedrez Escolar.</p>
            <a href="../_layouts/bases.html" class="btn btn-primary btn-xl page-scroll">Más Información</a>
        </div>
    </div>
</header>
